http://blog.csdn.net/niuge8905/article/details/78287355
先看10日的移动均线：

In [1]:
import tushare as ts
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import talib

df=ts.get_k_data('600600')
df['MA10_rolling'] = pd.rolling_mean(df['close'],10)
close = [float(x) for x in df['close']]
# 调用talib计算10日移动平均线的值
df['MA10_talib'] = talib.MA(np.array(close), timeperiod=10) 
df.tail(12)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=10,center=False).mean()

,date,open,close,high,low,volume,code,MA10_rolling,MA10_talib
629,2018-03-01,37.76,38.25,38.47,37.51,33867.0,600600,37.823,37.823
630,2018-03-02,37.68,37.50,38.22,37.39,31288.0,600600,37.999,37.999
631,2018-03-05,37.50,36.96,37.88,36.78,35803.0,600600,38.020,38.020
632,2018-03-06,37.12,37.43,37.64,36.80,41222.0,600600,38.031,38.031
633,2018-03-07,37.50,36.99,38.08,36.75,51426.0,600600,37.948,37.948
634,2018-03-08,36.85,37.39,37.49,36.59,32875.0,600600,37.844,37.844
635,2018-03-09,38.00,38.91,39.39,38.00,95224.0,600600,37.872,37.872
636,2018-03-12,39.70,40.91,41.15,39.70,112009.0,600600,38.060,38.060
637,2018-03-13,40.80,40.78,41.46,40.21,77822.0,600600,38.325,38.325
638,2018-03-14,40.56,40.83,41.07,40.31,44794.0,600600,38.595,38.595
639,2018-03-15,40.68,41.22,42.21,40.50,79756.0,600600,38.892,38.892
640,2018-03-16,41.23,41.67,41.69,40.80,10359.0,600600,39.309,39.309

再来看指数移动均线和MACD

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import talib

df=ts.get_k_data('600600')
close = [float(x) for x in df['close']]
# 调用talib计算指数移动平均线的值
df['EMA12'] = talib.EMA(np.array(close), timeperiod=6)  
df['EMA26'] = talib.EMA(np.array(close), timeperiod=12)   
 # 调用talib计算MACD指标
df['MACD'],df['MACDsignal'],df['MACDhist'] = talib.MACD(np.array(close),
                            fastperiod=6, slowperiod=12, signalperiod=9)   
df.tail(12)

,date,open,close,high,low,volume,code,EMA12,EMA26,MACD,MACDsignal,MACDhist
629,2018-03-01,37.76,38.25,38.47,37.51,33867.0,600600,38.225687,38.293933,-0.068246,-0.280376,0.212129
630,2018-03-02,37.68,37.50,38.22,37.39,31288.0,600600,38.018348,38.171790,-0.153442,-0.254989,0.101547
631,2018-03-05,37.50,36.96,37.88,36.78,35803.0,600600,37.715963,37.985361,-0.269398,-0.257871,-0.011527
632,2018-03-06,37.12,37.43,37.64,36.80,41222.0,600600,37.634259,37.899920,-0.265661,-0.259429,-0.006233
633,2018-03-07,37.50,36.99,38.08,36.75,51426.0,600600,37.450185,37.759933,-0.309748,-0.269493,-0.040255
634,2018-03-08,36.85,37.39,37.49,36.59,32875.0,600600,37.432989,37.703020,-0.270031,-0.269600,-0.000430
635,2018-03-09,38.00,38.91,39.39,38.00,95224.0,600600,37.854992,37.888709,-0.033717,-0.222424,0.188707
636,2018-03-12,39.70,40.91,41.15,39.70,112009.0,600600,38.727852,38.353523,0.374329,-0.103073,0.477402
637,2018-03-13,40.80,40.78,41.46,40.21,77822.0,600600,39.314180,38.726827,0.587352,0.035012,0.552340
638,2018-03-14,40.56,40.83,41.07,40.31,44794.0,600600,39.747271,39.050392,0.696879,0.167385,0.529494
639,2018-03-15,40.68,41.22,42.21,40.50,79756.0,600600,40.168051,39.384178,0.783873,0.290683,0.493190
640,2018-03-16,41.23,41.66,41.69,40.80,10445.0,600600,40.594322,39.734305,0.860018,0.404550,0.455468

最后来看动量和RSI的函数

In [3]:
import tushare as ts
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import talib

df=ts.get_k_data('600600')
close = [float(x) for x in df['close']]
df['RSI']=talib.RSI(np.array(close), timeperiod=12)     #RSI的天数一般是6、12、24
df['MOM']=talib.MOM(np.array(close), timeperiod=5)
df.tail(12)

           date   open  close   high    low    volume    code        RSI   MOM
629  2018-03-01  37.76  38.25  38.47  37.51   33867.0  600600  47.108416 -0.18
630  2018-03-02  37.68  37.50  38.22  37.39   31288.0  600600  42.613430 -1.13
631  2018-03-05  37.50  36.96  37.88  36.78   35803.0  600600  39.642375 -2.07
632  2018-03-06  37.12  37.43  37.64  36.80   41222.0  600600  43.389950 -0.70
633  2018-03-07  37.50  36.99  38.08  36.75   51426.0  600600  40.802632 -1.14
634  2018-03-08  36.85  37.39  37.49  36.59   32875.0  600600  44.107902 -0.86
635  2018-03-09  38.00  38.91  39.39  38.00   95224.0  600600  54.613157  1.41
636  2018-03-12  39.70  40.91  41.15  39.70  112009.0  600600  64.256512  3.95
637  2018-03-13  40.80  40.78  41.46  40.21   77822.0  600600  63.302787  3.35
638  2018-03-14  40.56  40.83  41.07  40.31   44794.0  600600  63.529908  3.84
639  2018-03-15  40.68  41.22  42.21  40.50   79756.0  600600  65.354456  3.83
640  2018-03-16  41.23  41.70  41.70  40.80   10663.0  600600  67.535161  2.79