先看10日的移动均线：

In [2]:
import tushare as ts
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import talib

df=ts.get_k_data('600600')
df['MA10_rolling'] = pd.rolling_mean(df['close'],10)
close = [float(x) for x in df['close']]
# 调用talib计算10日移动平均线的值
df['MA10_talib'] = talib.MA(np.array(close), timeperiod=10) 
df.tail(12)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=10,center=False).mean()

,date,open,close,high,low,volume,code,MA10_rolling,MA10_talib
629,2018-02-07,38.66,37.41,38.80,37.33,57814.0,600600,39.349,39.349
630,2018-02-08,37.00,37.48,37.80,36.64,44385.0,600600,39.017,39.017
631,2018-02-09,36.39,35.74,36.64,35.08,61050.0,600600,38.483,38.483
632,2018-02-12,35.99,36.75,36.97,35.86,32956.0,600600,38.232,38.232
633,2018-02-13,37.03,37.32,38.10,37.03,35057.0,600600,38.070,38.070
634,2018-02-14,37.34,37.82,37.95,37.09,17325.0,600600,37.863,37.863
635,2018-02-22,38.37,38.43,38.77,38.04,47641.0,600600,37.876,37.876
636,2018-02-23,38.45,38.63,38.68,38.06,26642.0,600600,37.723,37.723
637,2018-02-26,38.74,39.03,39.23,38.25,37219.0,600600,37.663,37.663
638,2018-02-27,38.94,38.13,38.99,37.70,41036.0,600600,37.674,37.674
639,2018-02-28,37.81,38.13,38.16,36.70,44201.0,600600,37.746,37.746
640,2018-03-01,37.76,37.66,37.76,37.51,3753.0,600600,37.764,37.764

再来看指数移动均线和MACD

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import talib
import tushare as ts

df=ts.get_k_data('600600')
close = [float(x) for x in df['close']]
# 调用talib计算指数移动平均线的值
df['EMA12'] = talib.EMA(np.array(close), timeperiod=6)  
df['EMA26'] = talib.EMA(np.array(close), timeperiod=12)   
 # 调用talib计算MACD指标
df['MACD'],df['MACDsignal'],df['MACDhist'] = talib.MACD(np.array(close),
                            fastperiod=6, slowperiod=12, signalperiod=9)   
df.tail(12)

,date,open,close,high,low,volume,code,EMA12,EMA26,MACD,MACDsignal,MACDhist
629,2018-02-07,38.66,37.41,38.80,37.33,57814.0,600600,38.716035,39.478642,-0.762607,-0.464092,-0.298516
630,2018-02-08,37.00,37.48,37.80,36.64,44385.0,600600,38.362882,39.171159,-0.808277,-0.532929,-0.275348
631,2018-02-09,36.39,35.74,36.64,35.08,61050.0,600600,37.613487,38.643288,-1.029801,-0.632303,-0.397498
632,2018-02-12,35.99,36.75,36.97,35.86,32956.0,600600,37.366777,38.352013,-0.985237,-0.702890,-0.282347
633,2018-02-13,37.03,37.32,38.10,37.03,35057.0,600600,37.353412,38.193242,-0.839830,-0.730278,-0.109552
634,2018-02-14,37.34,37.82,37.95,37.09,17325.0,600600,37.486723,38.135820,-0.649097,-0.714042,0.064944
635,2018-02-22,38.37,38.43,38.77,38.04,47641.0,600600,37.756231,38.181078,-0.424848,-0.656203,0.231355
636,2018-02-23,38.45,38.63,38.68,38.06,26642.0,600600,38.005879,38.250143,-0.244264,-0.573815,0.329551
637,2018-02-26,38.74,39.03,39.23,38.25,37219.0,600600,38.298485,38.370121,-0.071636,-0.473379,0.401743
638,2018-02-27,38.94,38.13,38.99,37.70,41036.0,600600,38.250346,38.333180,-0.082833,-0.395270,0.312437
639,2018-02-28,37.81,38.13,38.16,36.70,44201.0,600600,38.215962,38.301921,-0.085959,-0.333408,0.247449
640,2018-03-01,37.76,37.92,38.20,37.51,7328.0,600600,38.131401,38.243164,-0.111763,-0.289079,0.177316