In [2]:
import tushare as ts
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import talib

df=ts.get_k_data('600600')
df['MA10_rolling'] = pd.rolling_mean(df['close'],10)
close = [float(x) for x in df['close']]
# 调用talib计算10日移动平均线的值
df['MA10_talib'] = talib.MA(np.array(close), timeperiod=10) 
df.tail(12)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:8: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=10,center=False).mean()

,date,open,close,high,low,volume,code,MA10_rolling,MA10_talib
629,2018-01-24,40.89,41.07,41.60,40.56,85799.0,600600,42.326,42.326
630,2018-01-25,40.90,40.80,41.27,40.30,61714.0,600600,42.153,42.153
631,2018-01-26,40.89,41.08,41.97,40.66,96532.0,600600,42.039,42.039
632,2018-01-29,41.11,39.26,41.44,38.83,89923.0,600600,41.685,41.685
633,2018-01-30,38.95,38.94,39.37,38.60,50732.0,600600,41.156,41.156
634,2018-01-31,39.02,39.89,40.10,38.94,64464.0,600600,40.826,40.826
635,2018-02-01,39.55,38.30,39.85,37.50,70534.0,600600,40.348,40.348
636,2018-02-02,38.28,40.16,40.47,37.65,61043.0,600600,40.199,40.199
637,2018-02-05,39.15,39.63,39.75,38.30,87597.0,600600,40.013,40.013
638,2018-02-06,38.52,38.02,38.88,37.00,77640.0,600600,39.715,39.715
639,2018-02-07,38.66,37.41,38.80,37.33,57814.0,600600,39.349,39.349
640,2018-02-08,37.00,37.48,37.80,36.64,44385.0,600600,39.017,39.017